.header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  float: left;
  max-width: 300px;
  margin: 10px;
  text-align: center;
  padding-bottom: 10px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 5px 5px;
  text-align: left;
  font-size: small;
}
.container h4{
  text-align: center;
}
.adopted{
  color:darkgreen;
}

.card img{
  width: 140px;
  height: 140px;
  margin: 5px;
  text-align: center;
}

img.loader{
  width:20px;
  height: 20px;
}

.error{
  color:darkred;
  border: 1px;
  border-style: solid;
  border-color: darkred;
  padding: 5px;
  margin: 2px
}


